[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AWR"]
	path = AWR
	url = https://github.com/daroczig/awr
[submodule "AWR.KMS"]
	path = AWR.KMS
	url = https://github.com/daroczig/awr.kms
[submodule "AWR.Kinesis"]
	path = AWR.Kinesis
	url = https://github.com/daroczig/awr.kinesis
[submodule "binancer"]
	path = binancer
	url = https://github.com/daroczig/binancer
[submodule "botor"]
	path = botor
	url = https://github.com/daroczig/botor
[submodule "fbRads"]
	path = fbRads
	url = https://github.com/daroczig/fbrads
[submodule "logger"]
	path = logger
	url = https://github.com/daroczig/logger
[submodule "migration.indices"]
	path = migration.indices
	url = https://github.com/daroczig/migration.indices
